body {
    background-image: url("../images/backgroud.jpg");
    /* height: fit-content; */
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-weight: bolder;
}

p {
    font-family: 'Fira Sans Extra Condensed', 'serif';
    font-size: large;
    line-height: 2.5;
}


/* Content Body */

#content-body {
    text-align: center;
    background-color: white;
    background-size: 100% 100%;
    border: 8px solid white;
    height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    border-bottom-width: 50px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}


/* Title-Div */

.title {
    background-image: url("../images/title-div1.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 15%;
    width: 100%;
    border-bottom: 8px solid white;
}

#title1 {
    height: 428px;
}


/* Bio-Div */

.kobe-face {
    border-radius: 100%;
    border: 8px solid white;
    width: 27%;
    position: relative;
    bottom: 150px;
    right: 400px;
    z-index: 1;
}

#kobe-bio {
    font-family: 'Abril Fatface', serif;
    font-weight: bolder;
    width: 27%;
    position: relative;
    bottom: 270px;
    right: -80px;
    z-index: 1;
}

#bio {
    line-height: 1.5;
    position: relative;
    z-index: 1;
    bottom: 220px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 0px;
}


/* Testimonies-Div */

.testimonies {
    text-align: center;
    background-color: whitesmoke;
    color: black;
    margin-top: 0px;
    border-top-width: 50px;
    padding-top: 50px;
    position: relative;
    z-index: 1;
    bottom: 200px;
    height: auto;
}

.testimonial-text {
    font-family: 'Amatic SC', serif;
    font-size: xx-large;
}

.carousel-item {
    padding: 7% 15%;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}


/* Award-Div */

.awards {
    position: relative;
    z-index: 1;
    bottom: 120px;
}

#contact-me2 {
    position: relative;
    margin: 0px;
    padding: 30px;
}

.copyright {
    margin-bottom: 0px;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    bottom: 280px;
}

.foot-icon {
    margin: 0px 10px 20px;
    color: black;
}

#footer-sec {
    padding: 0px 30px 20px 30px;
    text-align: center;
}


/* Smartphones (less 780px and down) */

@media only screen and (max-width: 780px) {
    #title1 {
        height: 300px;
    }
    .kobe-face {
        border-radius: 100%;
        border: 6px solid white;
        width: 40%;
        position: relative;
        bottom: 100px;
        right: 5px;
        z-index: 1;
    }
    #kobe-bio {
        font-family: 'Abril Fatface', serif;
        font-weight: bolder;
        position: relative;
        bottom: 100px;
        right: 10px;
        z-index: 1;
        padding-right: 0px;
        padding-left: 0px;
        width: 300px;
    }
    #title {
        background-image: url("../images/title-div1.jpeg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 12%;
        width: 100%;
        border-bottom: 8px solid white;
    }
    #bio {
        line-height: 1.5;
        position: relative;
        z-index: 1;
        bottom: 80px;
        margin: 0px;
    }
    .testimonies {
        text-align: center;
        background-color: whitesmoke;
        color: black;
        height: auto;
        margin-top: 0px;
        border-top-width: 50px;
        padding-top: 50px;
        position: relative;
        z-index: 1;
        bottom: 75px;
    }
    .awards {
        position: relative;
        z-index: 1;
        bottom: 30px;
    }
    .copyright {
        margin-bottom: 0px;
        margin-top: 120px;
        position: relative;
        z-index: 1;
        bottom: 250px;
    }
}


/* Small devices (phablets and tablets)  between 781px and 900px */

@media (min-width: 781px) and (max-width: 900px) {
    #title1 {
        height: 400px;
    }
    .kobe-face {
        border-radius: 100%;
        border: 6px solid white;
        width: 30%;
        position: relative;
        bottom: 110px;
        right: 230px;
        z-index: 1;
    }
    #kobe-bio {
        font-family: 'Abril Fatface', serif;
        font-weight: bolder;
        position: relative;
        bottom: 190px;
        right: -80px;
        z-index: 1;
        padding-right: 0px;
        padding-left: 0px;
        width: 300px;
    }
    #bio {
        line-height: 1.5;
        position: relative;
        z-index: 1;
        bottom: 190px;
    }
    .testimonies {
        text-align: center;
        background-color: whitesmoke;
        color: black;
        margin-top: 0px;
        border-top-width: 50px;
        padding-top: 50px;
        position: relative;
        z-index: 1;
        bottom: 170px;
    }
}


/* Big devices (tablets and pc) 900px and 991px */

@media (min-width: 900px) and (max-width: 991px) {
    #title1 {
        height: 400px;
    }
    .kobe-face {
        border-radius: 100%;
        border: 6px solid white;
        width: 33%;
        position: relative;
        bottom: 135px;
        right: 220px;
        z-index: 1;
    }
    #kobe-bio {
        font-family: 'Abril Fatface', serif;
        font-weight: bolder;
        position: relative;
        bottom: 210px;
        right: -80px;
        z-index: 1;
        padding-right: 0px;
        padding-left: 0px;
        width: 300px;
    }
    .testimonies {
        text-align: center;
        background-color: whitesmoke;
        color: black;
        margin-top: 0px;
        border-top-width: 50px;
        padding-top: 50px;
        position: relative;
        z-index: 1;
        bottom: 200px;
    }
}


/* Extra big devices (pc) 992px and up*/

@media (min-width: 992px) and (max-width: 1200px) {
    #title1 {
        height: 480px;
    }
    .kobe-face {
        border-radius: 100%;
        border: 6px solid white;
        width: 28%;
        position: relative;
        bottom: 140px;
        right: 320px;
        z-index: 1;
    }
    #kobe-bio {
        font-family: 'Abril Fatface', serif;
        font-weight: bolder;
        position: relative;
        bottom: 240px;
        right: -100px;
        z-index: 1;
        padding-right: 0px;
        padding-left: 0px;
        width: 500px;
    }
}